---
layout: default
---

{% include hero.html %}

<div class="gallery container">
  <div class="row">
    {% for item in site.work | sort: 'title' %}
      <div class="col-xs-12-xs col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <a class="gallery__preview" href="{{ site.baseurl }}{{ item.url }}">
          <div class="gallery__image" style="background-image: url({{ site.baseurl }}/assets/img/{{ item.thumbnail }})"></div>
          <h2 class="gallery__title">{{ item.title }}</h2>
          <p class="gallery__description">{{ item.description }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>