<nav class="navbar row" role="navigation">
  <div class="col">
    <a class="navbar__brand{% if page.url == '/' %} navbar__brand--inverted{% endif %}" href="{{ '/ ' | relative_url }}">
      <img class="navbar__logo" src="{{ site.baseurl }}/assets/img/logo.svg" alt="{{ site.title | escape }}" />
      <h1 class="navbar__title">{{ site.title | escape }}</h1>
    </a>
  </div>
  <ul class="navbar__list col">
    <li class="navbar__item"><a class="navbar__link{% if page.url == '/' %} navbar__link--active{% endif %}" href="{{ '/' | | relative_url }}">Work</a></li>
    {% for pg in site.pages %}<li class="navbar__item"><a class="navbar__link{% if page.url == pg.url %} navbar__link--active{% endif %}" href="{{ pg.url | relative_url }}">{{ pg.title }}</a></li>{% endfor %}
  </ul>
</nav>
