---
# Custom styles
---

$bg-color: rgb(244,244,244);
$text-color: rgb(51,51,51);
$copy-color: rgb(102,102,102);
$brand-color: rgb(255,183,0);
$inverted-color: rgb(238,238,238);
$card-color: rgb(255,255,255);
$border-color: rgba(0,0,0,.1);

$hero-bg: "../img/hero_bg.jpg";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter: 30px;
$grid-half-gutter: 15px;

@import "bootstrap/reboot";
@import "bootstrap/breakpoints";
@import "bootstrap/grid";

@import "components/navbar";
@import "components/hero";
@import "components/gallery";
@import "components/work";

html {
  height: 100%;
  background-color: $brand-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Work Sans";
  color: $copy-color;
  background-color: $bg-color;
}

header {
  width: 100%;
  height: 7.5rem;
}

main {
  flex: 1;
}

p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

footer {
  border-top: 1px solid $border-color;
  padding: 1.5rem 0;
}